wp assignment1/courses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  LearnSphere – XML Schema Definition (courses.xsd)
  Web Programming Assignment 1, 2025-26
  CBIT Hyderabad
  Validates: courses.xml
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root Element -->
  <xs:element name="learnsphere">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="platform" type="PlatformType" />
        <xs:element name="courses" type="CoursesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ========================== -->
  <!-- Platform Information Type  -->
  <!-- ========================== -->
  <xs:complexType name="PlatformType">
    <xs:sequence>
      <xs:element name="name"       type="xs:string" />
      <xs:element name="tagline" type="xs:string" />
      <xs:element name="email"   type="EmailType" />
      <xs:element name="phone"   type="xs:string" />
      <xs:element name="address" type="xs:string" />
      <xs:element name="founded">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="2000" />
            <xs:maxInclusive value="2030" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ========================== -->
  <!-- Email Simple Type          -->
  <!-- ========================== -->
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ========================== -->
  <!-- Courses Container Type     -->
  <!-- ========================== -->
  <xs:complexType name="CoursesType">
    <xs:sequence>
      <xs:element name="course" type="CourseType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- ========================== -->
  <!-- Single Course Type         -->
  <!-- ========================== -->
  <xs:complexType name="CourseType">
    <xs:sequence>
      <xs:element name="title"         type="xs:string" />
      <xs:element name="category"      type="CategoryType" />
      <xs:element name="instructor"    type="InstructorType" />
      <xs:element name="price"         type="PriceType" />
      <xs:element name="originalPrice" type="PriceType" />
      <xs:element name="rating">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0" />
            <xs:maxInclusive value="5.0" />
            <xs:fractionDigits value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="reviewCount"  type="PositiveIntegerType" />
      <xs:element name="studentCount" type="PositiveIntegerType" />
      <xs:element name="duration"     type="DurationType" />
      <xs:element name="level"        type="LevelType" />
      <xs:element name="language"     type="xs:string" />
      <xs:element name="certificate"  type="xs:boolean" />
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="20" />
            <xs:maxLength value="1000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="skills"       type="SkillsType" />
    </xs:sequence>
    <xs:attribute name="id" type="CourseIDType" use="required" />
  </xs:complexType>

  <!-- ========================== -->
  <!-- Category Restricted Type   -->
  <!-- ========================== -->
  <xs:simpleType name="CategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Development" />
      <xs:enumeration value="Data Science" />
      <xs:enumeration value="Design" />
      <xs:enumeration value="Business" />
      <xs:enumeration value="Marketing" />
      <xs:enumeration value="IT &amp; Software" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ========================== -->
  <!-- Level Restricted Type      -->
  <!-- ========================== -->
  <xs:simpleType name="LevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Beginner" />
      <xs:enumeration value="Intermediate" />
      <xs:enumeration value="Advanced" />
      <xs:enumeration value="Beginner to Intermediate" />
      <xs:enumeration value="Beginner to Advanced" />
      <xs:enumeration value="Intermediate to Advanced" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ========================== -->
  <!-- Instructor Type            -->
  <!-- ========================== -->
  <xs:complexType name="InstructorType">
    <xs:sequence>
      <xs:element name="name"           type="xs:string" />
      <xs:element name="designation" type="xs:string" />
      <xs:element name="experience"  type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- ========================== -->
  <!-- Price Type with currency   -->
  <!-- ========================== -->
  <xs:complexType name="PriceType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="CurrencyCodeType" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- ========================== -->
  <!-- ISO Currency Code Type     -->
  <!-- ========================== -->
  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INR" />
      <xs:enumeration value="USD" />
      <xs:enumeration value="EUR" />
      <xs:enumeration value="GBP" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ========================== -->
  <!-- Duration Type              -->
  <!-- ========================== -->
  <xs:complexType name="DurationType">
    <xs:sequence>
      <xs:element name="hours"    type="PositiveIntegerType" />
      <xs:element name="lectures" type="PositiveIntegerType" />
    </xs:sequence>
  </xs:complexType>

  <!-- ========================== -->
  <!-- Skills Type                -->
  <!-- ========================== -->
  <xs:complexType name="SkillsType">
    <xs:sequence>
      <xs:element name="skill" type="xs:string" minOccurs="1" maxOccurs="20" />
    </xs:sequence>
  </xs:complexType>

  <!-- ========================== -->
  <!-- Course ID Pattern          -->
  <!-- ========================== -->
  <xs:simpleType name="CourseIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="C[0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>

  <!-- ========================== -->
  <!-- Positive Integer Type      -->
  <!-- ========================== -->
  <xs:simpleType name="PositiveIntegerType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
